<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="DataRekomendasi" value="C:\BalitTanah\Balittanah.PKDSS\PKDSS\PKDSS.MonoApp\bin\Debug\Rekomendasi.json"/>
    <add key="WorkingDirectory" value="C:\BalitTanah\PythonScript\PythonNIR"/>
    <add key="ModelScript" value="PLSRmodelv2a.py"/>
    <add key="SensorData" value="Measurement_Perc_1.Spectrum"/>
    <add key="AnacondaFolder" value="C:\installdir\Anaconda3"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>